# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env

# Build output
dist/

# Coverage directory used by tools like istanbul
coverage/

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm

# Yarn Integrity file
.yarn-integrity

# Next.js build output
.next/

# Nuxt.js build output
.nuxt/

# SvelteKit build output
.svelte-kit/

# Vite build output
vite.config.js
